<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block css%}<link rel="stylesheet" href="css/site.css">{%endblock%}
    {%block title%}
    <title>Calculus and Chlorine &middot; c17e</title>
    {%endblock%}
</head>

<body>
    <div id="headerbar">
        <a id="kerb" href="http://juggernautjha.gitlab.io/c17e">Calculus & Chlorine</a>
        <div id="navbar">
            <a href="https://juggernautjha.gitlab.io" class="navbutton" id="aboutButton">about</a>
            <a href="https://juggernautjha.gitlab.io/projects" class="navbutton" id="aboutButton">math stuff</a>
            <a href="https://juggernautjha.gitlab.io/c17e" class="navbutton current" id="blogButton">blog</a>
            <!-- <a href="http://juggernautjha.gitlab.io/c17e/rss.xml" class="navbutton" id="blogButton"> RSS </a> -->
        </div>
    </div>
    <hr>
    {%block content%}
    {%endblock%}


    {%block contact%}
    <div id="footer">
        <a href="https://gitlab.com/juggernautjha" target="_blank">
          <img class="symbol" src="https://juggernautjha.gitlab.io/assets/github.png" alt="juggernautjha on gitlab">
        </a>

        <a href="http://www.keybase.io/juggernautjha" target="_blank">
          <img class="symbol" src="https://juggernautjha.gitlab.io/assets/keyb.png" alt="(C) keybase">
        </a>

        <a href="http://r19a.juggernautjha.gitlab.io"  target="_blank">
                    <img class="symbol" src="https://juggernautjha.gitlab.io/assets/globe.png" alt = "Rahul Writes Propaganda">
        </a>
        <a href="mailto:rahuljha.newdelhi@gmail.com" target="_blank">
            <img class="symbol" src="https://juggernautjha.gitlab.io/assets/gmail.svg" alt="(C) keybase">
          </a>
    </div>
    {%endblock%}
    <br>
    <hr>
    <div style="font-family: 'Courier New', Courier, monospace; color: blue;">
        Made with 💖 using <a href="https://juggernautjha.gitlab.io/c17e/posts/vadim-blyat.html"> Vadim </a>
    </div>
  </body>
  </html>
